<h3 class="text-center mt-3">Payment Info</h3>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 offset-md-3 ">
            <!-- <div class="text-center" *ngIf="isLoading" >
                <app-loader/>
            </div> -->
            <!-- <div class="alert alert-danger" *ngIf="error">
                <p>{{error}}</p>
            </div> -->
            <form [formGroup]="payForm" (ngSubmit)="cartPayment()">
                <div class="mb-3">
                    <label for="details">details</label>
                    <input type="text" class="form-control" formControlName="details">
                </div>
                <div class="mb-3">
                    <label for="phone">Phone</label>
                    <input type="tel" class="form-control" formControlName="phone">
                </div>
                <div class="mb-3">
                    <label for="city">City</label>
                    <input type="text" class="form-control" formControlName="city">
                </div>
                <!-- <div class="alert alert-info" *ngIf=" || ">
                    <p>Please, Enter Valid Email and Password !</p>
                </div> -->
                <button class="btn btn-success" type="submit" >Pay</button> | <button class="btn btn-danger">Cancel</button>
                
            </form>

        </div>
    </div>
</div>
